.pagination-pages {
  text-align: center;

  &__num.btn {
    display: inline-block;
    margin-right: 5px;
    padding: 12px;
    min-width: 20px;
    line-height: 9px;

    &:last-child {
      margin-right: 0;
    }
  }
}