@import '../../scss/_variables.scss';

.login {
  &-container {
    margin: 0 auto;
    max-width: 390px;
    margin-top: -235px;
    position: relative;
    top: 50%;

    .signup-field-group {
      @media (min-width: $tablet-min) {
        display: block;
        width: 100%;
        margin-bottom: 20px;
      }
    }
    @media (min-width: $tablet-min) {
      width: 400px;
      max-width: inherit;
      position: absolute;
      left: 50%;
      margin: -200px 0 0 -200px;
    }
  }
}