@import "../../scss/_variables.scss";

.not-found {
  margin: 0 auto;
  max-width: 390px;
  position: relative;
  top: 10vh;

  @media (min-width: $tablet-min) {
    width: 600px;
    max-width: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -300px;
  }

  .fa {
    font-weight: 400;
  }

  &__info {
    background: $light-bg;
    padding: 15px;
    color: $text-color-active;
    font-size: 14px;
    line-height: 22px;
    font-weight: 100;

    @media (min-width: $desktop-min) {
      font-weight: 400;
    }
  }
}