@import '../../scss/_variables.scss';

.profile {
  &-container {
    margin: 0 auto;
    width: 390px;
    position: relative;
    margin-top: -235px;
    top: 40%;

    .signup-field-group {
      @media (min-width: $tablet-min) {
        display: block;
        width: 100%;
        margin-bottom: 20px;
      }
    }
    @media (min-width: $tablet-min) {
      width: 400px;
      max-width: inherit;
      position: absolute;
      left: 50%;
      margin: -200px 0 0 -200px;
    }
  }
}

.signup-form.edit  {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.name-field-edit,
.email-field-edit {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.signup-form.edit .fa {
  padding-right: 10px;
  padding-top: 25px;
  cursor: pointer;
}

.btn--signup-active.edit {
  margin-top: 15px;
}

.name-title,
.email-title {
  color: $text-color-active;
  font-weight: bold;
  padding-bottom: 5px;
}

.logged-name,
.logged-email {
  color: $orange;
  font-size: 14px;
}

.hidden-field {
  display: none;
}

.field-name-display {
  display: block;
}

.field-email-display {
  display: block;
}

.user-image-profile {
  border-radius: 50%;
}
