@import '../../scss/_variables.scss';

.profile {
  &-container {
    margin: 0 auto;
    max-width: 390px;
    position: relative;
    left: 0;

    .signup-field-group {
      @media (min-width: $tablet-min) {
        display: block;
        width: 100%;
      }
    }
    @media (min-width: $tablet-min) {
      width: 374px;
      max-width: inherit;
    }
  }
}

.signup-form.edit {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
  background-color: $gray;
}

.profile-header {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.profile-header__user-image-edit {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.profile-header__user-image {
  display: inline-block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.profile-header__user-name {
  display: block;
  font-size: 24px;
  color: $text-color-active;
  margin-top: 15px;
  margin-bottom: 15px;
}

.signup-form.edit .fa {
  display: inline-block;
  margin-left: 15px;
  padding-right: 10px;
  padding-top: 25px;
  cursor: pointer;
}

.signup-form.edit .fa-password {
  padding-top: 0px;
}

.edit-user-info__icon {
  display: inline-block;
  padding-left: 10px;
}

.edit-profile__user-info,
.edit-profile__user-info-password {
  display: flex;
  flex-wrap: wrap;
}

.edit-profile__user-info {
  margin-bottom: 10px;
}

.edit-profile__user-name-container,
.edit-profile__user-email-container,
.edit-profile__user-password-container,
.edit-profile__user-repeat-password-container {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  margin-right: 20px;
}

.user-name__box,
.user-email__box,
.user-password__box,
.user-repeat-password__box {
  display: block;
  margin-bottom: 15px;
}

.user-name__title,
.user-email__title,
.user-password__title,
.user-repeat-password__title {
  color: $text-color-active;
  font-weight: bold;
  padding-bottom: 5px;
}

.user-name__logged-name,
.user-email__logged-email,
.user-password__logged-password,
.user-repeat-password__logged-password {
  color: $orange;
  font-size: 14px;
}

.flex-display {
  display: flex;
}

.btn--signup-active.edit {
  margin-top: 25px;
}

.hidden {
  display: none;
}

.photo.fa {
  font-size: 100px;
}

.visible {
  display: block;
}

.profile-header__user-drop-aria{
  border-radius: 50px;
  height: 100px;
  width: 100px;
  border: 1px solid $orange;
  padding: 30px 10px;
  text-align: center;
}

.btn--signup-active.edit {
  margin-left: 0px;
}

.edit-profile__user-info .signup-form__error-message,
.edit-profile__user-info-password .signup-form__error-message {
  margin-top: -15px;
  top: 0;
  right: 0;
  width: auto;
}

.signup-form.edit .signup-form__label {
  display: none;
}
