@import '../../scss/_variables.scss';

.list-persons {
  width: 20%;
  height: 185px;
  overflow-y: scroll;
  background-color: $text-color-active;
  border-radius: 10px;

  li {
    padding: 5px;
    margin-left: 10px;
  }
}
