@import '../../scss/_variables.scss';

.list-users {
  width: 20%;
  height: 185px;
  background-color: $text-color-active;
  
  li {
    padding: 5px;
  }
 }

.list-users-spinner {
  background-color: $text-color-active;
  width: 20%;
  height: 185px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.list-menu-users {
    overflow-y: scroll;
}