@import '../../scss/_variables.scss';

.list-users {
  width: 20%;
  height: 185px;
  overflow-y: scroll;
  background-color: $text-color-active;

  li {
    padding: 5px;
    margin-left: 10px;
  }

  i {
    font-size: 100px;
    margin-top: 40px;
    margin-left: 20px; 
  }
}
