@import '../../scss/_variables.scss';

.notification-bell {
  font-size: 40px;
  margin-right: 15px;
  cursor: pointer;

  @media (min-width: $desktop-min) {
    margin-right: 40px;
  }

  &__icon.fa {
    font-size: 30px;

    @media (min-width: $desktop-min) {
      font-size: 35px;
    }
  }
}

.notification-bell-self {
  align-self: center;
  position: relative;
}

.bell-emergency {
  background-color: red;
  border-radius: 10px;
}

.notification-round {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid $border-color-hover;
  background-color: $orange;
  position: absolute;
  font-size: 11px;
  text-align: center;
  line-height: 20px;
  top: 41%;
  right: -13%;
}

.notification-round-error {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: $warning-color;
  position: absolute;
  font-size: 11px;
  text-align: center;
  line-height: 20px;
  top: 41%;
  right: 13%;
}

.notification-list {
  display: none;
  max-height: 400px;
  background: $modals-bg;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  position: absolute;
  right: 10px;
  top: 52px;
  max-width: 300px;

    &__notice {
	  	border-radius: 3px;
      overflow-y: scroll;
	  	padding: 10px;
      max-height: 300px;

		span {
		  color: $text-color-active;
		  font-size: 24px;
		}

		ul {
		color: $text-color-active;
		margin: 0;
		padding: 0;
		list-style: none;

		  li {
		  margin: 5px 2px;
			padding: 10px;
			border-left-width: 3px;
			border-left-style: solid;
			color: $text-color-active;
			border-color: $color-orange;
			border-radius: 3px;
			font-size: 12px;
			}
		}
	}
}

.notification-message{
  display: flex;
  cursor: pointer;
}
.notification {
  &-time {
    margin-right: 5px;
    width: 30%;
  }

  &-text {
    width: 66%;
    overflow-wrap: break-word;
  }
}
.notification-item-marker {
  font-weight: bold;
}
.notification-display {
  display: block;
}
.remove-block {
  display: none;
}
.notification-button {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0 10px;
}
.notification-item-emergency {
  color: red !important;
  font-size: 1.05em !important;
}

.emergency-alert {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 15px;
  font-weight: bold;
  left: -21px;
  z-index: 2;
  color: red;
}
