@import "../../scss/_variables.scss";

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: $header-bg;
  height: 51px;
  padding: 0 15px;

  @media (min-width: $tablet-min) {
    padding: 0 20px;
  }

  &__logo {
    min-width: 163px;
    text-align: center;
    line-height: 31px;
    padding: 10px 12px;
    background-color: $color_orange;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline-block;

    a {
      color: $text-color-logo;

      &:hover {
        color: $text-color-logo;
      }
    }
  }

  &__nav {
    position: fixed;
    top: 0;
    left: -163px;
    transition: width 1s;
    -webkit-transition: left 1s;

    @media (min-width: $desktop-min) {
      left: 0;
    }

    &--shown {
      left: 0;
    }
  }

  &__navicon {
    border: 0;
    background: transparent;
    outline: none;
    margin-left: 15px;
    display: inline-block;

    @media (min-width: $desktop-min) {
      display: none;
    }

    &-bars.fa {
      color: $icons-header-bg;
      font-size: 24px;

      &:hover {
        color: $color-primary;
      }
    }
  }

  &__personal {
    float: right;
    display: flex;
    padding-top: 3px;
  }
}