@import "/../../scss/variables";

.Prototype{
  border-radius: 7px;
  background: $color-bg-dark-grey;
  color:$text-color-active;
  text-align:center;
  position: relative;

  h3{
    padding: 20px 0;
    border-bottom: 1px solid $color-orange ;
    margin-bottom: 20px;
  }
}