.auth{
    background-image: -webkit-radial-gradient(top, circle cover, #393b45 0%, #2d3038 70%);
    width: 100%;
    min-width: 320px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 30px;
}