@import '../../scss/_variables';

.avatar-image {
  background-image: url("../../img/avatar2.png");
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $color-orange;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 7px;
}

.user-list-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 7px;
}

.person-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.person-avatar-and-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.person-at-home {
  font-size: 20px;
  color: green;
  margin-left: 10px;
}

.person-at-home__false {
  color: red;
}

.person-at-home__all {
  color: $orange;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.person-at-home__home {
  color: green;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}