@import "../../scss/_variables";

.Message {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  margin-left: -200px;
  margin-top: -30px;
  width: 400px;
  text-align: center;

  @media (max-width: $tablet-min) {
    position: fixed;
  }
  @media (min-width: $desktop-min) {
    margin-left: -200px;
  }
}
